<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code; Without Barriers Gallery</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/gallery.css" rel="stylesheet">
</head>
<body class="container-fluid mt-4">
    <div class="delete-button-container">
        <form id="delete-form" action="/delete" method="post">
            <button type="submit" class="btn btn-danger">Delete Selected</button>
        </form>
    </div>
    <h1 class="mb-4">Code; Without Barriers Gallery</h1>

    <form action="/upload" method="post" enctype="multipart/form-data" class="mb-4 d-flex align-items-center">
        <button type="submit" class="btn btn-primary mr-2">Upload</button>
        <label for="file" class="btn btn-secondary mb-0">Choose File</label>
        <input type="file" id="file" name="file" class="d-none">
        <span id="file-name" class="ml-2">No file chosen</span>
    </form>
    
    <div class="image-grid">
        <% blobs.forEach(function(blob) { %>
        <div class="card">
            <img src="<%= blob.url %>" alt="<%= blob.name %>" data-toggle="modal" data-target="#imageModal" data-url="<%= blob.url %>">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="blob_names" form="delete-form" value="<%= blob.name %>">
            </div>
            <div class="like-container">
                <i class="like-icon" data-name="<%= blob.name %>">♡</i>
                <span class="like-count" id="like-count-<%= blob.name %>"><%= blob.likes %></span>
            </div>
        </div>
        <% }); %>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" id="modalImage" alt="Expanded image">
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/scripts/gallery.js"></script>
</body>
</html>
